@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');

:root,html,body {
    font-family: 'Lexend', sans-serif;
    text-align: center;
    color: #1D1B1F;
    margin:0;
}
h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

button {
    font-family: inherit;
    padding: 1rem 1.25rem;
    margin: 1rem 0;
    background: #F0F0F0;
    border-radius: 4px;
    border: 1px solid #1D1B1F;
    box-shadow: 4px 4px 0px #1D1B1F;
}


.flexbetween {
    display: flex;
    justify-content: space-between;

}

.flexcenter {
    display: flex;
    justify-content: center;

}
@media screen and (min-width: 481px) and (max-width: 833px){
    h1{
        font-size: 3.45rem
    }

    h2{
        font-size: 2.5rem;
    }
}
@media screen and (min-width: 834px){
    /*  body{
         font-size: 24px;
     } */
     h1{
        font-size: 3.45rem;
     }
    }