nav {
    
    z-index: 2;
    padding: 10px;
    position: sticky;
    top: 0;
    margin-top: 2rem;
    /* width:100%; */
    background-color: white;
    /* border:1px solid grey; */
}
nav a:visited {
    color: black;
}

nav ul {
    gap: 3rem;
    display: flex;
    margin-top: 0;
    display:none;
    
}

nav a {
    text-decoration: none;
}
@media screen and (min-width: 481px) and (max-width: 833px){
    #burgher{
        display:none;
    }
    nav ul {
        gap: 3rem;
        display: flex;
        margin-top: 0;
        
        
    }
    nav {
        padding: 1.625rem 2rem;
    }

    header{ 
        margin: 3.75rem 2rem;

    }

    header p{
        font-size:1.25rem
    }
    nav a:visited {
        color: black;
    }
}
@media screen and (min-width: 834px){
    #burgher{
        display:none;
    }
    nav{
        padding: 1.625rem 6.25rem 1.625rem 6.25rem;
    }
    nav a:visited {
        color: black;
    }
    nav ul {
        gap: 3rem;
        display: flex;
        margin-top: 0;
        
        
    }
}